body{
    padding-top: 50px;
}

#headerWrapper{
    position: relative;
    padding: 0;
    margin: 0;
    overflow:hidden;
    height:600px;
    background-image: url(../images/headerlogo/background.png);
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-position: top center;
    background-attachment: fixed;
}

#logotext{
    position: absolute;
    width: 100%;
    height: 150px;
    background-image: url(../images/headerlogo/text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 150px;
    top: 50%;
    margin-top: -90px;
}

#fore-flower{
    position: absolute;
    width:100%;
    height:400px;
    background-image: url(../images/headerlogo/fore-flower.png);
    background-size: auto 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
    top:525px;
    right: -50px
}

#back-flower{
    position: absolute;
    width: 100%;
    height: 350px;
    background-image: url(../images/headerlogo/back-flower.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto 350px;
    top: 400px;
    left:-25px;
}

#partial-headerWrapper{
    position: relative;
    padding: 0;
    margin: 0;
    overflow:hidden;
    height: 210px;
    background-image: url(../images/headerlogo/background.png);
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-position: top center;
    background-attachment: fixed;
}

#partial-logotext{
    position: absolute;
    width: 100%;
    height: 150px;
    background-image: url(../images/headerlogo/text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 150px;
    top: 50%;
    margin-top: -90px;
}

#partial-fore-flower{
    position: absolute;
    width:100%;
    height:400px;
    background-image: url(../images/headerlogo/fore-flower.png);
    background-size: auto 400px;
    background-repeat: no-repeat;
    background-position: right bottom;
    top:100px;
    right: -50px
}

#partial-back-flower{
    position: absolute;
    width: 100%;
    height: 350px;
    background-image: url(../images/headerlogo/back-flower.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: auto 350px;
    top: 75px;
    left:-25px;
}

.img-thumb{
    width: auto;
    height: 150px;
}

#footer{
    margin-top: 50px;
}

fotorama__wrap{
    width: 90%;
    margin: 15px auto;
}

.table-auto{
    width: auto;
    margin: 0 auto;
}

#add-product-btn{
    margin-top: -35px;
    margin-right: 50px;
}

.saved-image{
    text-align:center;
}

.saved-image img{
    width: auto;
    height: 150px;
}

#login-form{
    width: 50%;
    height: 60%;
    border: 2px solid #000;
    border-radius: 15px;
    box-shadow: 7px 7px 15px rgba(0,0,0,0.6);
    margin: 7% auto;
    padding: 15px;
    background-color: #fff;
}

.totals-table-header th{
    text-align: center;
}

#cart_widget td, #recent_widget{
    font-size: 12px;
}

input.price-range {
    width:55px;
}
